/* reset stylesheet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 8px solid #fff;
}

.title,
.card div {
  background: #e3f4ff;
}

.title {
  font-size: 16px;
  padding: 8px;
}

.content {
  box-sizing: content-box;
  padding: 16px 8px;
  margin: 8px auto;
}

.button-container {
  padding: 8px;
  text-align: center;
  margin: 0 auto;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  margin: inherit;
}